#container{
	background-color:black;
	width:970px;
	height:800px;
}
#header{
	width:970px;
	height:125px;
	overflow: hidden;
	display:inline-block;
	position:relative;
	background-color:#F0F0F0;
}
#header h3{
	display:inline-block;
	color:#686868;
	vertical-align: top;
	padding-top: 10px;
}
#navbar{
	background-color:#E3E8EB;
	border-top:solid 1px;
	border-color:#707070;
	margin-top:3px;

}
#header ul{
	list-style-type: none
}

#header ul li{
	display:inline;
	border-right:solid 2px;
	border-left:solid 2px;
	border-color:#707070;
}
#header ul a{
	color:#484848;
}

#body_1{
	background-color:black;
	height:269px;
	width:939px;
	padding-top: 25px;
	padding-left:15px;
	padding-left: 0px
}	
#body_1 img{
	display:inline-block;
	vertical-align: top;
	margin-bottom:2px;
}
#about{
	width:500px;
	height:264px;
	display:inline-block;
	vertical-align: top;
	font-size:80%;
	margin-left: 10px;
	padding-left: 15px;
	color:white;
	background: -webkit-linear-gradient(left, black , gray);
    background: -o-linear-gradient(left, black, gray); 
    background: -moz-linear-gradient(left, black, gray); 
    background: linear-gradient(to left, black, gray); 

}
#about h4{
	background-color:yellow;
	padding:10px;
	margin-top:0px;
	margin-left:-15px;
	color:black;
}
.par{
	padding:0px;
}
.par p{
color:yellow;
font-size: 60%;
margin-top:0px;
}
.par p img{
	height:13px;
	width:41px;
	border-radius:2px;
}
#body_2{
	background-color:black;
	height:250px;
	width:970px;
	margin-top:20px;
	font-size:70%;
}
.pic1{
	width:223px;
	height:250px;
	background-color: white;
	display: inline-block;
	margin-left:0px;
	margin:8px;
	vertical-align: top;
}
.pic2{
	width:223px;
	height:250px;
	background-color: white;
	display: inline-block;
	margin:8px;
	vertical-align: top;
}
.pic3{
	width:223px;
	height:250px;
	background-color: white;
	display: inline-block;
	margin:8px;
	vertical-align: top;
}
.pic4{
	width:223px;
	height:250px;
	background-color: white;
	display: inline-block;
	margin:8px;
	vertical-align: top;
}
#body_2 strong{
	background-color:yellow;
	padding:5px;
	padding-top:8px;
	display:block;
}
#body_2 p{
	padding:8px;
}
#body_2 input{
	background-color:yellow;
}

#body_2 form{
	display:inline-block;
	margin-left:100px;
}