#container{
	background-color:black;
	width:970px;
	height:800px;
}
#header{
	width:970px;
	height:125px;
	overflow: hidden;
	display:inline-block;
	position:relative;
	background-color:#F0F0F0;
}
#header h3{
	display:inline-block;
	color:#686868;
	vertical-align: top;
	padding-top: 10px;
}
#navbar{
	background-color:#E3E8EB;
	border-top:solid 1px;
	border-color:#707070;
	margin-top:3px;

}
#header ul{
	list-style-type: none
}

#header ul li{
	display:inline;
	border-right:solid 1px;
	border-left:solid 1px;
	border-color:#707070;
}
#header ul a{
	color:#484848;
}

#body_1{
	background-color:black;
	height:269px;
	width:939px;
	padding:25px 15px;
}	
#body_1 img{
	display:inline-block;
	vertical-align: top;
}
#about{
	width:500px;
	height:264px;
	display:inline-block;
	vertical-align: top;
	font-size:80%;
	margin-left: 10px;
	padding-left: 15px;
	color:white;
	background: -webkit-linear-gradient(left, black , gray);
    background: -o-linear-gradient(left, black, gray); 
    background: -moz-linear-gradient(left, black, gray); 
    background: linear-gradient(to left, black, gray); 

}
#about h4{
	background-color:yellow;
	padding:10px;
	margin-top:0px;
	margin-left:-15px;
	color:black;
}